.header{
  background-color: #d63384;
  font-size: 20px;
  font-weight: 700;
  position: fixed;
  z-index: 2;
  padding:10px;

}
.link a{
  display: block;
  color:aliceblue;
  padding:10px;
    text-decoration: none;
}

.links{
  color:black;
}
.link a:hover{
  background-color:whitesmoke;
  border-radius: 5px;
  color:black;
}
.product_list{
  display: inline-table;
align-items: center;
position: relative;
top:100px;

}

.card-body{
  height:200px;
  overflow-y:scroll;

  text-align: center;
 
}
.card{
  width:100px;
  height: 200px;
  margin:10px;

}
.card-img-top{
  width:50px;
  height: 200px;

}
.home{
  position: relative;
  
}
.heading{

  position:absolute;
  top:100px;
  text-align: center;

}
.featured:hover{
 
border: 1px solid black;
 
}
.featured{
  width:250px;
}
.featured-div{
  background-color:bisque;
}
.contact,.about{
  position: relative;
  top:100px;
}
.about-p{
  height:800px;
  background-color: #FDE5EC;
}
.footer{
  color:white;
  padding:20px;
  position: fixed;
    bottom: 0px;
}

.about-2{
  background-color:darkgray;

}
.form_div{
  display: flex;
  justify-content: center;
}
.contact-div{

  position: absolute;
  top:30px;
   
}
.contact-from{
position: relative;
top:10px;
left:450px;
height:500px;


}
.contact{   
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}